/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 */

body {
    background-color: #242423;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: #CFDBD5;
    font-size: 500%;
    font-weight: 700;
}

h1 span.grad-header {
    background: linear-gradient(45deg, #e77635, #f55c9c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* background-clip: text; */
    transition: 200ms;
    background-size: 300%;
}

h1 span.grad-header:hover {
    background-position: -50px 50px;
}

h1.blink-enabled::after {
    content: '...';
    animation: blink 3000ms ease infinite;
}

@keyframes blink {
    0% {color: transparent}
    50% {color: #CFDBD5;}
    0% {color: transparent;}
}

div.card {
    background-color: #3a3a3a;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    width: 80%;
    left: 10%;
    position: relative;
    display: block;
    padding-bottom: 5px;
    z-index: 1;
}

div.card.large {
    margin-bottom: 20px;
    height: 150px;
}

div.card.station {
    margin-bottom: 5px;
}

div.card.large * {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div.card .visit {
    bottom: 10%;
    font-size: 18pt;
    background: linear-gradient(45deg, #e77635, #f55c9c);
    background-size: 200%;
    background-position: 0% 0%;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #242423;
    transition: 300ms;
    color: #080808;
    font-family: 'Inter', sans-serif;
}

div.card .visit#about {
    bottom: 50%;
    transform: translate(-50%, 50%);
}

div.card .visit:hover {
    background-position: 30% 0%;
    color: white;
    box-shadow: 1px 1px 1px #242423;
}

div.card .visit:active {
    box-shadow: -1px -1px 1px #242423;
    color: #38b3ec;
}

div.card input {
    top: 5%;
    font-size: 18pt;
    width: 90%;
    background-color: #494949;
    border: 2px solid #494949;
    border-radius: 3px;
    caret-color: #CFDBD5;
    color: #CFDBD5;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

input:focus {
    outline: none;
}

div.authors-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    /* position: absolute;
    bottom: 20px; */
}

div.authors-flex .author {
    text-decoration: none;
    text-align: center;
    display: block;
    flex: 33%;
    min-width: 100px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16pt;
    -webkit-user-select: none;
    user-select: none;
    color: #303030;
    text-shadow: 0px 0px 3px #080808;
    background: transparent;
    
}

div.authors-flex .author:hover {
    background: linear-gradient(45deg, #e77635, #f55c9c);
    background-size: 150%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 300ms;
    text-shadow: none;
}

div.card.station .station-title {
    color: #CFDBD5;
    
    padding-left: 10px;
    user-select: none;
}

hr.line {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding-bottom: 5px; */
    box-shadow: 0px 2px 2px #2d2d2d;
}

hr.line.red {
    border-top: 10px solid #f41d2f;
}

hr.line.blue {
    border-top: 10px solid #1a7ceb;
}

hr.line.green {
    border-top: 10px solid #008a5c;
}

.station-title {
    font-weight: 700;
    font-size: 36pt;
}

.station-city {
    color: #676767;
    font-weight: 400;
    font-size: 75%;
    text-shadow: 0px 0px 3px #242423;
    font-size: 24pt;
}

.station-city::before {
    content: '· ';
}
